html {
    margin: 0em;
    font-size: 16px;
    line-height: 1.45;
    color: black;
    height: 100%;
    width: 100%;
}

tml {
  font-size: 100%; /*16px*/
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');

body > nav {
  background-color: #f4eacd;
  color: black;
  font-weight: bold;
}

body {
  font-family: 'DM Mono', monospace;
  font-weight: 130;
  line-height: 1.75;
  background-color: #fcfcef;
  color: black;
  margin: 1em;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 2em);
}

.content {
  background-color: white;
  border-radius: 10px;
  display: block;
  float: none;
  margin: auto;
  margin-top: 40px;
  max-width: 75em;
  width: 90%;
  color: black;
  padding: 20px 40px;
}

th, td {
	padding: 5px 10px 0px 10px;
	text-align: left;
}

table {
	width: 100%;
	margin: 20px;
}

td:nth-child(1) {
	width: 5%;
}

td:nth-child(2) {
	width: 50%;
}

td:nth-child(3) {
	width: 55%;
}


p {
  margin-bottom: 1rem;
  font-weight: 200;
}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'DM Mono', monospace;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0.5em;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}


a {
  color: blue;
  text-decoration: none;
  outline: 0;

  &:hover { text-decoration: underline dotted; }
}

small, .text_small { font-size: 0.8rem; }

header, footer, nav, h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Mono', monospace;
}

#header-sigil {
  height: 1.5em;
  vertical-align: middle;
}

body > header, body > footer {
  text-align: center;
  margin: -1em;

  & > a {
    color: blue;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

body > nav {
  position: sticky;
  top: 0;
  text-align: center;
  margin: -1em;
  
  & > ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;

    & > li {
      display: inline;
      margin: 0 3px 0 3px;
	  background-color: white;
	  padding: 10px 15px;
	  border: 3px solid black;

      & > a {
        color: black;
      }
    }
  }
}
