<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} | {% endif %}Bravo Awards</title>
    <meta name="author" content="Bravo Awards">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ get_url(path='favicon.jpg') }}">
    <link itemprop="url" href="{{ config.base_url }}">
    <link rel="canonical" href="{{ config.base_url }}">
    <link rel="stylesheet" href="{{ get_url(path='base.css') }}">
    {% block head %}{% endblock %}
    <style>
        body {
            line-height: 1.5;
        }
    </style>

  </head>
  <body>
    <nav>
      <ul>
        hello
      </ul>
    </nav>
    <header>
      {% block header %} {% endblock %}
    </header>
    <main>
      {% block content %} {% endblock %}
    </main>
    <footer>
    </footer>
  </body>
</html>