<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{page.title}} | {% endif %}Bravo Awards</title>
    <meta name="author" content="Voting for the winners of the Third Annual Bravo Awards is underway.">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ get_url(path='favicon.jpg') }}">
    <link itemprop="url" href="{{ config.base_url }}">
    <link rel="canonical" href="{{ config.base_url }}">
    <link rel="stylesheet" href="{{ get_url(path='base.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Mono&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
    <style>
        body {
            line-height: 1.5;
        }
    </style>

  </head>
  <body>
    <nav>
      <ul>
        <li><a href="{{ get_url(path='') }}">Home</a></li>
        <li><a href="{{ get_url(path='@/finalists.md') }}">2024 Finalists</a></li>
        <li><a href="{{ get_url(path='@/archive/_index.md') }}">Archive</a></li>
      </ul>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
    <footer>
    </footer>
  </body>
</html>