{% extends "base.html" %}

{% block head %}
<meta name="description" content="Bravo Awards">
<style>
  body {
    display: block;
    height: 100%;
  }
  body {
    line-height: 1.5;
  }
</style>
{% endblock content %}

{% block content %}
<main>
  <img src="{{ get_url(path='background.jpg') }}" style="width: 40%; min-width: 300px; display: block; margin: 30px auto 0px auto;">

  {% block maintext %}
  <div class="content" style="margin-top: 10px;">
  <p>The Bravo Awards are a celebration of the hunts, puzzles, and people from the puzzle hunt community.</p>
  
  <p>The Third Annual Bravo Awards, which looks back over 2023, is currently in its finalist stage. If you'd 
    like to vote on which finalists should receive awards for their categories, you can do so here:</p>

  <div class="width-hack">
  <a href="https://forms.gle/yBCyYuaFX1e4uyZw9">
    <div class="vote-button">
      <p style="text-align: center;">Vote now!</p>
    </div>
  </a>
  </div>

  <p>The above voting form will close on <b>Tuesday, January 9th, 11:59PM Eastern Time</b>.
    The awards will then be announced in a <a href="https://www.twitch.tv/bravoawards">Twitch livestream</a> on 
    <b>Wednesday, January 10th, 9PM Eastern Time</b>.</p>

  <p>The Third Annual Bravo Awards were organised by Thomas Gordon (MetaTerminal), Eugene C, and Soni (TalesFromTim), 
    with organizational help from Justin Ladia and Liam Thomas (junkmail), and web development help from David Millar.</p>
  </div>
  {% endblock maintext %}
</main>
{% endblock content %}