{% extends "base.html" %}

{% block head %}
<meta name="description" content="Bravo Awards">
<style>
  body {
    display: block;
    height: 100%;
  }
  body {
    line-height: 1.5;
  }
</style>
{% endblock content %}

{% block content %}
<main>
  <img src="{{ get_url(path='background.jpg') }}" style="width: 40%; min-width: 300px; display: block; margin: 30px auto 0px auto;">

  {% block maintext %}
  <div class="content" style="margin-top: 10px;">
  <p>The Bravo Awards are a celebration of the hunts, puzzles, and people from the puzzle hunt community.</p>
  
  <p>We will announce the finalists on January 25, 2026, at 7pm PST, with a discord presentation on the Bravos discord server</u>.</p>
  
  </div>
  {% endblock maintext %}
</main>
{% endblock content %}