{% extends "base.html" %}

{% block head %}
<meta name="description" content="Bravo Awards">
<style>
  body {
    display: block;
    height: 100%;
  }
  body {
    line-height: 1.5;
  }
</style>
{% endblock content %}

{% block content %}
<main>
  <img src="{{ get_url(path='background.jpg') }}" style="width: 40%; min-width: 300px; display: block; margin: 30px auto 0px auto;">

  {% block maintext %}
  <div class="content" style="margin-top: 10px;">
  <p>The Bravo Awards are a celebration of the hunts, puzzles, and people from the puzzle hunt community.</p>
  
  <p>Currently, the finalists have been selected. 
    You can vote for which puzzles, rounds, and people should win awards with 
    <a href="https://forms.gle/HtMCKXVp5XLxeKhN8">this Google form</a>.</p>

  <p>
    You can view the full list of this year's finalists on <a href="/finalists">the website</a>, or in <a href="https://docs.google.com/spreadsheets/d/1jWkpUbWhi8dpGC7kTSkEiE0V8getkZuPw4Ksi5KhJaw">this document</a>.
  </p>

  <p>The voting closes on <u>January 12, 2025 at 6:59 PM Eastern Time</u>. 
    There will then be a livestream to announce the winners on <u>January 13, 2025 at 8:00 PM Eastern Time</u>.</p>
  
  </div>
  {% endblock maintext %}
</main>
{% endblock content %}